.header {
    position: sticky;
    top: 0;
    display: flex;
    background-color: var(--component-bg);
    justify-content: space-evenly;
    border-bottom: 0.1px solid var(--border-color);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    z-index: 999;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.header__left {
    display: flex;
}

.header__left>img {
    object-fit: contain;
    height: 40px;
    margin-right: 10px;
}

.header__search {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 22px;
    color: gray;
    background-color: #eef3f8;
}

.header__search>input {
    outline: none;
    border: none;
    background: none;
}

.header__right {
    display: flex;
}

.headerOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color: gray;
    cursor: pointer;
}

.headerOption:hover {
    color: black;
}

.headerOption>h3 {
    font-size: 12px;
    font-weight: 400;
}