.headerOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color: var(--icon-color);
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
}

.headerOption:hover {
    color: var(--text-color);
    transform: scale(1.05);
}

.headerOption__title {
    font-size: 12px;
    font-weight: 400;
}

.headerOption__icon {
    object-fit: contain;
    height: 25px !important;
    width: 25px !important;
}